.fab{
  position: fixed;
  bottom:10px;
  right:10px;
  z-index: 20;
  text-decoration: none;
 
}

.fab a{
  cursor: pointer;
  width: 48px;
  height: 48px;
  border-radius: 30px;
  background-color: red;
  border: none;
  box-shadow: 0 1px 5px rgba(0,0,0,.4);
  font-size: 24px;
  color: white;
  padding: 10px 3px 3px 3px;
   opacity: 50%; 
  -webkit-transition: .2s ease-out;
  -moz-transition: .2s ease-out;
  transition: .2s ease-out;
}



.fab a.main{
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: red;
  right: 0;
  bottom: 0;
  z-index: 20;
  text-align: center;
  text-decoration: none;
  align-items: center;
}

.fab a.main:before{
  content: '↑';
  align-items: center;
}

